@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* font-family: 'Montserrat', sans-serif; */

body {
  background-color: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}
.site-image {
  text-align: center;
  margin-top: 40px;
}
.site-image img {
  width: 200px;
}
